In [1]:
import pandas as pd
import os
import itertools
from collections import defaultdict

In [2]:
df = pd.read_csv(os.path.join(os.pardir,os.pardir,'data','06_out','5-KCore-tweet-clean-topic.csv'))
df2 = pd.read_csv(os.path.join(os.pardir,os.pardir,'data','5-KCore-labeled.csv'),usecols=['label'])

In [3]:
df.groupby('topic').size()

topic
0    2535
1    1845
2    2700
3    2097
4    2564
5    2639
6    2432
7    3708
dtype: int64

In [4]:
df[['modularity','topic']].groupby(['modularity','topic']).size()

modularity  topic
0           0         268
            1         165
            2         288
            3         188
            4         187
            5         265
            6         265
            7         179
1           0           4
            1           2
            2           3
            3           3
            4           2
            5           1
            7           1
2           0        1363
            1         838
            2        1158
            3         961
            4        1547
            5         914
            6         942
            7        1061
3           0         282
            1         296
            2         417
            3         316
            4         249
            5         489
            6         417
            7         857
4           0         597
            1         532
            2         816
            3         618
            4         564
            5         940
            6         784
            7        1575
5           0          21
            1          12
            2          18
            3          11
            4          15
            5          30
            6          24
            7          35
dtype: int64

In [5]:
df.tail()

,text,username,modularity,node_id,clean,topic
20515,Yang namanya sumpah dan janji sdh tak berharga...,uman_2009,3,11498,"['nama', 'sumpah', 'janji', 'harga', 'rezim', ...",7
20516,Mana ada wasit terserah Pemain . Wasit itu mem...,prabow0fans,3,5526,"['wasit', 'serah', 'main', 'wasit', 'pimpin', ...",6
20517,berarti bukan kampanye .. lihat di UU ttg pemi...,pendekarmalu,2,13212,"['arti', 'kampanye', 'lihat', 'undang', 'pemil...",0
20518,Diskusi akhir tahun kemarin dan sempat bahas m...,jamalboegis,3,851,"['diskusi', 'kemarin', 'bahas', 'kotak', 'kard...",4
20519,bener kata ibu prof mantan komisioner @KPU_ID ...,sameercimy_,4,199,"['profesor', 'mantan', 'komisioner', 'lupa', '...",5

In [6]:
df2.tail()

       label
20515    NaN
20516    NaN
20517    NaN
20518    NaN
20519    NaN

## Merge Label

In [7]:
df['label'] = df2

In [8]:
# Cut data. Select only labeled
sliced = df.iloc[:1300].copy()
# Convert label column to integer
sliced['label'] = sliced['label'].astype(int)

In [9]:
sliced.head()

,text,username,modularity,node_id,clean,topic,label
0,Mereka itu korban yg kalah di 2014. Inget siap...,b12_7hon,2,0,"['korban', 'kalah', 'loloskan', 'pemilu', 'ren...",1,0
1,Penomena @KPU_RI @KPU_ID tdk kuat scra lembaga...,harun_nugraha,2,1,"['fenomena', 'kuat', 'lembaga', 'laksana', 'ba...",6,0
2,ngapain pemilu ulang broo klu kita 02 sdh mena...,totonaser11,4,3,"['pemilu', 'ulang', 'broo', 'menang', 'jokowi'...",7,0
3,"Kl menerapkan ISO pasti kelar 1 minggu, ngga a...",rohmatjabbar,4,5,"['terap', 'selesai', 'minggu', 'korban', 'romu...",6,0
4,Hayooo @KPU_ID @bawaslu_RI simak baik2 orasi k...,use_will,3,6,"['ayo', 'simak', 'orasi', 'ketua', 'tugas', 'a...",4,0

In [10]:
sliced[(sliced['modularity'] == 2) & (sliced['topic'] == 1) & (sliced['label'] == 0)].head()

,text,username,modularity,node_id,clean,topic,label
0,Mereka itu korban yg kalah di 2014. Inget siap...,b12_7hon,2,0,"['korban', 'kalah', 'loloskan', 'pemilu', 'ren...",1,0
32,Kita harus memikirkan bagaimana proses seleksi...,ilgaek_jimbrehe,2,31,"['pikir', 'proses', 'seleksi', 'kpu', 'provins...",1,0
92,"hey kpu. pemilu tahun ini menurut saya, pemilu...",etkemaluansaya,2,94,"['hey', 'kpu', 'pemilu', 'pemilu', 'buruk', 'm...",1,0
151,@tvOneNews @ILCtv1 @CNN @DPR_RI @KPU_ID @bawas...,kolamtv,2,150,"['mirna', 'racun', 'jesica', 'jam', 'tv', 'lip...",1,0
152,Inilah Akibat dari Kekurangan Data Riset akhir...,ahmadbilefelt,2,151,"['akibat', 'data', 'riset', 'putus', 'pemilu',...",1,0

In [11]:
sliced[['text','modularity','topic','label']].\
loc[(sliced['modularity'] == 2) & (sliced['topic'] == 1) & (sliced['label'] == 0)].\
head()

,text,modularity,topic,label
0,Mereka itu korban yg kalah di 2014. Inget siap...,2,1,0
32,Kita harus memikirkan bagaimana proses seleksi...,2,1,0
92,"hey kpu. pemilu tahun ini menurut saya, pemilu...",2,1,0
151,@tvOneNews @ILCtv1 @CNN @DPR_RI @KPU_ID @bawas...,2,1,0
152,Inilah Akibat dari Kekurangan Data Riset akhir...,2,1,0

In [12]:
sliced[['text']].\
loc[(sliced['modularity'] == 2) & (sliced['topic'] == 1) & (sliced['label'] == 0)].\
agg('count')

text    28
dtype: int64

In [13]:
sliced['modularity'].unique()

array([2, 4, 3, 0, 5], dtype=int64)

In [14]:
count = defaultdict(lambda:defaultdict(list))
for m in (sliced['modularity'].unique()):
    for t in sliced['topic'].unique():
        for l in sliced['label'].unique():
            result = sliced[['text']].loc[(sliced['modularity'] == m) & (sliced['topic'] == t) & (sliced['label'] == l)].agg('count')
            r = int(result.values[0])
#             if r is 0:
#                 continue
#             else:
            count[m][t].append(r)
#             print(m,t,l,r)

In [15]:
count[2][1]

[28, 13]

In [16]:
count[4][1]

[55, 13]

In [17]:
for i1, i2 in itertools.combinations(sliced['modularity'].unique(),2):
    print(i1,i2)

2 4
2 3
2 0
2 5
4 3
4 0
4 5
3 0
3 5
0 5

In [18]:
for i1, i2 in itertools.combinations(sliced['modularity'].unique(),2):
    for t in (sliced['topic'].unique()):
        if count[i1][t][1] == count[i2][t][1]:
              print(i1,i2,t,count[i1][t][1])

2 4 1 13
2 4 5 14
3 0 2 9
3 0 0 2

In [19]:
count[2][1][0]

28

In [20]:
for i1, i2 in itertools.combinations(sliced['modularity'].unique(),2):
    for t in (sliced['topic'].unique()):
        p_score = count[i1][t][1]+count[i2][t][1]
        print('Komunitas : {} dan Komunitas : {} pada Topik : {} memiliki tweet positif : {}'.format(i1,i2,t,p_score))
        n_score = count[i1][t][0]+count[i2][t][0]
        print('Komunitas : {} dan Komunitas : {} pada Topik : {} memiliki tweet positif : {}'.format(i1,i2,t,n_score))
        c_score = (p_score-n_score)/(p_score+n_score)
        print('Nilai Kontroversial topik {} antara Komunitas {} dan {} adalah {:.3f}'.format(t,i1,i2,c_score))
#         print(c_score)

Komunitas : 2 dan Komunitas : 4 pada Topik : 1 memiliki tweet positif : 26
Komunitas : 2 dan Komunitas : 4 pada Topik : 1 memiliki tweet positif : 83
Nilai Kontroversial topik 1 antara Komunitas 2 dan 4 adalah -0.523
Komunitas : 2 dan Komunitas : 4 pada Topik : 6 memiliki tweet positif : 29
Komunitas : 2 dan Komunitas : 4 pada Topik : 6 memiliki tweet positif : 76
Nilai Kontroversial topik 6 antara Komunitas 2 dan 4 adalah -0.448
Komunitas : 2 dan Komunitas : 4 pada Topik : 7 memiliki tweet positif : 25
Komunitas : 2 dan Komunitas : 4 pada Topik : 7 memiliki tweet positif : 111
Nilai Kontroversial topik 7 antara Komunitas 2 dan 4 adalah -0.632
Komunitas : 2 dan Komunitas : 4 pada Topik : 4 memiliki tweet positif : 25
Komunitas : 2 dan Komunitas : 4 pada Topik : 4 memiliki tweet positif : 38
Nilai Kontroversial topik 4 antara Komunitas 2 dan 4 adalah -0.206
Komunitas : 2 dan Komunitas : 4 pada Topik : 2 memiliki tweet positif : 43
Komunitas : 2 dan Komunitas : 4 pada Topik : 2 memiliki tweet positif : 111
Nilai Kontroversial topik 2 antara Komunitas 2 dan 4 adalah -0.442
Komunitas : 2 dan Komunitas : 4 pada Topik : 0 memiliki tweet positif : 31
Komunitas : 2 dan Komunitas : 4 pada Topik : 0 memiliki tweet positif : 61
Nilai Kontroversial topik 0 antara Komunitas 2 dan 4 adalah -0.326
Komunitas : 2 dan Komunitas : 4 pada Topik : 5 memiliki tweet positif : 28
Komunitas : 2 dan Komunitas : 4 pada Topik : 5 memiliki tweet positif : 113
Nilai Kontroversial topik 5 antara Komunitas 2 dan 4 adalah -0.603
Komunitas : 2 dan Komunitas : 4 pada Topik : 3 memiliki tweet positif : 33
Komunitas : 2 dan Komunitas : 4 pada Topik : 3 memiliki tweet positif : 69
Nilai Kontroversial topik 3 antara Komunitas 2 dan 4 adalah -0.353
Komunitas : 2 dan Komunitas : 3 pada Topik : 1 memiliki tweet positif : 17
Komunitas : 2 dan Komunitas : 3 pada Topik : 1 memiliki tweet positif : 58
Nilai Kontroversial topik 1 antara Komunitas 2 dan 3 adalah -0.547
Komunitas : 2 dan Komunitas : 3 pada Topik : 6 memiliki tweet positif : 19
Komunitas : 2 dan Komunitas : 3 pada Topik : 6 memiliki tweet positif : 52
Nilai Kontroversial topik 6 antara Komunitas 2 dan 3 adalah -0.465
Komunitas : 2 dan Komunitas : 3 pada Topik : 7 memiliki tweet positif : 22
Komunitas : 2 dan Komunitas : 3 pada Topik : 7 memiliki tweet positif : 70
Nilai Kontroversial topik 7 antara Komunitas 2 dan 3 adalah -0.522
Komunitas : 2 dan Komunitas : 3 pada Topik : 4 memiliki tweet positif : 19
Komunitas : 2 dan Komunitas : 3 pada Topik : 4 memiliki tweet positif : 30
Nilai Kontroversial topik 4 antara Komunitas 2 dan 3 adalah -0.224
Komunitas : 2 dan Komunitas : 3 pada Topik : 2 memiliki tweet positif : 39
Komunitas : 2 dan Komunitas : 3 pada Topik : 2 memiliki tweet positif : 69
Nilai Kontroversial topik 2 antara Komunitas 2 dan 3 adalah -0.278
Komunitas : 2 dan Komunitas : 3 pada Topik : 0 memiliki tweet positif : 18
Komunitas : 2 dan Komunitas : 3 pada Topik : 0 memiliki tweet positif : 45
Nilai Kontroversial topik 0 antara Komunitas 2 dan 3 adalah -0.429
Komunitas : 2 dan Komunitas : 3 pada Topik : 5 memiliki tweet positif : 18
Komunitas : 2 dan Komunitas : 3 pada Topik : 5 memiliki tweet positif : 92
Nilai Kontroversial topik 5 antara Komunitas 2 dan 3 adalah -0.673
Komunitas : 2 dan Komunitas : 3 pada Topik : 3 memiliki tweet positif : 24
Komunitas : 2 dan Komunitas : 3 pada Topik : 3 memiliki tweet positif : 52
Nilai Kontroversial topik 3 antara Komunitas 2 dan 3 adalah -0.368
Komunitas : 2 dan Komunitas : 0 pada Topik : 1 memiliki tweet positif : 16
Komunitas : 2 dan Komunitas : 0 pada Topik : 1 memiliki tweet positif : 33
Nilai Kontroversial topik 1 antara Komunitas 2 dan 0 adalah -0.347
Komunitas : 2 dan Komunitas : 0 pada Topik : 6 memiliki tweet positif : 21
Komunitas : 2 dan Komunitas : 0 pada Topik : 6 memiliki tweet positif : 45
Nilai Kontroversial topik 6 antara Komunitas 2 dan 0 adalah -0.364
Komunitas : 2 dan Komunitas : 0 pada Topik : 7 memiliki tweet positif : 13
Komunitas : 2 dan Komunitas : 0 pada Topik : 7 memiliki tweet positif : 34
Nilai Kontroversial topik 7 antara Komunitas 2 dan 0 adalah -0.447
Komunitas : 2 dan Komunitas : 0 pada Topik : 4 memiliki tweet positif : 23
Komunitas : 2 dan Komunitas : 0 pada Topik : 4 memiliki tweet positif : 17
Nilai Kontroversial topik 4 antara Komunitas 2 dan 0 adalah 0.150
Komunitas : 2 dan Komunitas : 0 pada Topik : 2 memiliki tweet positif : 39
Komunitas : 2 dan Komunitas : 0 pada Topik : 2 memiliki tweet positif : 52
Nilai Kontroversial topik 2 antara Komunitas 2 dan 0 adalah -0.143
Komunitas : 2 dan Komunitas : 0 pada Topik : 0 memiliki tweet positif : 18
Komunitas : 2 dan Komunitas : 0 pada Topik : 0 memiliki tweet positif : 27
Nilai Kontroversial topik 0 antara Komunitas 2 dan 0 adalah -0.200
Komunitas : 2 dan Komunitas : 0 pada Topik : 5 memiliki tweet positif : 24
Komunitas : 2 dan Komunitas : 0 pada Topik : 5 memiliki tweet positif : 55
Nilai Kontroversial topik 5 antara Komunitas 2 dan 0 adalah -0.392
Komunitas : 2 dan Komunitas : 0 pada Topik : 3 memiliki tweet positif : 29
Komunitas : 2 dan Komunitas : 0 pada Topik : 3 memiliki tweet positif : 36
Nilai Kontroversial topik 3 antara Komunitas 2 dan 0 adalah -0.108
Komunitas : 2 dan Komunitas : 5 pada Topik : 1 memiliki tweet positif : 13
Komunitas : 2 dan Komunitas : 5 pada Topik : 1 memiliki tweet positif : 28
Nilai Kontroversial topik 1 antara Komunitas 2 dan 5 adalah -0.366
Komunitas : 2 dan Komunitas : 5 pada Topik : 6 memiliki tweet positif : 16
Komunitas : 2 dan Komunitas : 5 pada Topik : 6 memiliki tweet positif : 34
Nilai Kontroversial topik 6 antara Komunitas 2 dan 5 adalah -0.360
Komunitas : 2 dan Komunitas : 5 pada Topik : 7 memiliki tweet positif : 9
Komunitas : 2 dan Komunitas : 5 pada Topik : 7 memiliki tweet positif : 33
Nilai Kontroversial topik 7 antara Komunitas 2 dan 5 adalah -0.571
Komunitas : 2 dan Komunitas : 5 pada Topik : 4 memiliki tweet positif : 18
Komunitas : 2 dan Komunitas : 5 pada Topik : 4 memiliki tweet positif : 14
Nilai Kontroversial topik 4 antara Komunitas 2 dan 5 adalah 0.125
Komunitas : 2 dan Komunitas : 5 pada Topik : 2 memiliki tweet positif : 31
Komunitas : 2 dan Komunitas : 5 pada Topik : 2 memiliki tweet positif : 42
Nilai Kontroversial topik 2 antara Komunitas 2 dan 5 adalah -0.151
Komunitas : 2 dan Komunitas : 5 pada Topik : 0 memiliki tweet positif : 16
Komunitas : 2 dan Komunitas : 5 pada Topik : 0 memiliki tweet positif : 23
Nilai Kontroversial topik 0 antara Komunitas 2 dan 5 adalah -0.179
Komunitas : 2 dan Komunitas : 5 pada Topik : 5 memiliki tweet positif : 15
Komunitas : 2 dan Komunitas : 5 pada Topik : 5 memiliki tweet positif : 43
Nilai Kontroversial topik 5 antara Komunitas 2 dan 5 adalah -0.483
Komunitas : 2 dan Komunitas : 5 pada Topik : 3 memiliki tweet positif : 20
Komunitas : 2 dan Komunitas : 5 pada Topik : 3 memiliki tweet positif : 30
Nilai Kontroversial topik 3 antara Komunitas 2 dan 5 adalah -0.200
Komunitas : 4 dan Komunitas : 3 pada Topik : 1 memiliki tweet positif : 17
Komunitas : 4 dan Komunitas : 3 pada Topik : 1 memiliki tweet positif : 85
Nilai Kontroversial topik 1 antara Komunitas 4 dan 3 adalah -0.667
Komunitas : 4 dan Komunitas : 3 pada Topik : 6 memiliki tweet positif : 16
Komunitas : 4 dan Komunitas : 3 pada Topik : 6 memiliki tweet positif : 66
Nilai Kontroversial topik 6 antara Komunitas 4 dan 3 adalah -0.610
Komunitas : 4 dan Komunitas : 3 pada Topik : 7 memiliki tweet positif : 29
Komunitas : 4 dan Komunitas : 3 pada Topik : 7 memiliki tweet positif : 121
Nilai Kontroversial topik 7 antara Komunitas 4 dan 3 adalah -0.613
Komunitas : 4 dan Komunitas : 3 pada Topik : 4 memiliki tweet positif : 8
Komunitas : 4 dan Komunitas : 3 pada Topik : 4 memiliki tweet positif : 40
Nilai Kontroversial topik 4 antara Komunitas 4 dan 3 adalah -0.667
Komunitas : 4 dan Komunitas : 3 pada Topik : 2 memiliki tweet positif : 22
Komunitas : 4 dan Komunitas : 3 pada Topik : 2 memiliki tweet positif : 98
Nilai Kontroversial topik 2 antara Komunitas 4 dan 3 adalah -0.633
Komunitas : 4 dan Komunitas : 3 pada Topik : 0 memiliki tweet positif : 17
Komunitas : 4 dan Komunitas : 3 pada Topik : 0 memiliki tweet positif : 60
Nilai Kontroversial topik 0 antara Komunitas 4 dan 3 adalah -0.558
Komunitas : 4 dan Komunitas : 3 pada Topik : 5 memiliki tweet positif : 18
Komunitas : 4 dan Komunitas : 3 pada Topik : 5 memiliki tweet positif : 123
Nilai Kontroversial topik 5 antara Komunitas 4 dan 3 adalah -0.745
Komunitas : 4 dan Komunitas : 3 pada Topik : 3 memiliki tweet positif : 17
Komunitas : 4 dan Komunitas : 3 pada Topik : 3 memiliki tweet positif : 67
Nilai Kontroversial topik 3 antara Komunitas 4 dan 3 adalah -0.595
Komunitas : 4 dan Komunitas : 0 pada Topik : 1 memiliki tweet positif : 16
Komunitas : 4 dan Komunitas : 0 pada Topik : 1 memiliki tweet positif : 60
Nilai Kontroversial topik 1 antara Komunitas 4 dan 0 adalah -0.579
Komunitas : 4 dan Komunitas : 0 pada Topik : 6 memiliki tweet positif : 18
Komunitas : 4 dan Komunitas : 0 pada Topik : 6 memiliki tweet positif : 59
Nilai Kontroversial topik 6 antara Komunitas 4 dan 0 adalah -0.532
Komunitas : 4 dan Komunitas : 0 pada Topik : 7 memiliki tweet positif : 20
Komunitas : 4 dan Komunitas : 0 pada Topik : 7 memiliki tweet positif : 85
Nilai Kontroversial topik 7 antara Komunitas 4 dan 0 adalah -0.619
Komunitas : 4 dan Komunitas : 0 pada Topik : 4 memiliki tweet positif : 12
Komunitas : 4 dan Komunitas : 0 pada Topik : 4 memiliki tweet positif : 27
Nilai Kontroversial topik 4 antara Komunitas 4 dan 0 adalah -0.385
Komunitas : 4 dan Komunitas : 0 pada Topik : 2 memiliki tweet positif : 22
Komunitas : 4 dan Komunitas : 0 pada Topik : 2 memiliki tweet positif : 81
Nilai Kontroversial topik 2 antara Komunitas 4 dan 0 adalah -0.573
Komunitas : 4 dan Komunitas : 0 pada Topik : 0 memiliki tweet positif : 17
Komunitas : 4 dan Komunitas : 0 pada Topik : 0 memiliki tweet positif : 42
Nilai Kontroversial topik 0 antara Komunitas 4 dan 0 adalah -0.424
Komunitas : 4 dan Komunitas : 0 pada Topik : 5 memiliki tweet positif : 24
Komunitas : 4 dan Komunitas : 0 pada Topik : 5 memiliki tweet positif : 86
Nilai Kontroversial topik 5 antara Komunitas 4 dan 0 adalah -0.564
Komunitas : 4 dan Komunitas : 0 pada Topik : 3 memiliki tweet positif : 22
Komunitas : 4 dan Komunitas : 0 pada Topik : 3 memiliki tweet positif : 51
Nilai Kontroversial topik 3 antara Komunitas 4 dan 0 adalah -0.397
Komunitas : 4 dan Komunitas : 5 pada Topik : 1 memiliki tweet positif : 13
Komunitas : 4 dan Komunitas : 5 pada Topik : 1 memiliki tweet positif : 55
Nilai Kontroversial topik 1 antara Komunitas 4 dan 5 adalah -0.618
Komunitas : 4 dan Komunitas : 5 pada Topik : 6 memiliki tweet positif : 13
Komunitas : 4 dan Komunitas : 5 pada Topik : 6 memiliki tweet positif : 48
Nilai Kontroversial topik 6 antara Komunitas 4 dan 5 adalah -0.574
Komunitas : 4 dan Komunitas : 5 pada Topik : 7 memiliki tweet positif : 16
Komunitas : 4 dan Komunitas : 5 pada Topik : 7 memiliki tweet positif : 84
Nilai Kontroversial topik 7 antara Komunitas 4 dan 5 adalah -0.680
Komunitas : 4 dan Komunitas : 5 pada Topik : 4 memiliki tweet positif : 7
Komunitas : 4 dan Komunitas : 5 pada Topik : 4 memiliki tweet positif : 24
Nilai Kontroversial topik 4 antara Komunitas 4 dan 5 adalah -0.548
Komunitas : 4 dan Komunitas : 5 pada Topik : 2 memiliki tweet positif : 14
Komunitas : 4 dan Komunitas : 5 pada Topik : 2 memiliki tweet positif : 71
Nilai Kontroversial topik 2 antara Komunitas 4 dan 5 adalah -0.671
Komunitas : 4 dan Komunitas : 5 pada Topik : 0 memiliki tweet positif : 15
Komunitas : 4 dan Komunitas : 5 pada Topik : 0 memiliki tweet positif : 38
Nilai Kontroversial topik 0 antara Komunitas 4 dan 5 adalah -0.434
Komunitas : 4 dan Komunitas : 5 pada Topik : 5 memiliki tweet positif : 15
Komunitas : 4 dan Komunitas : 5 pada Topik : 5 memiliki tweet positif : 74
Nilai Kontroversial topik 5 antara Komunitas 4 dan 5 adalah -0.663
Komunitas : 4 dan Komunitas : 5 pada Topik : 3 memiliki tweet positif : 13
Komunitas : 4 dan Komunitas : 5 pada Topik : 3 memiliki tweet positif : 45
Nilai Kontroversial topik 3 antara Komunitas 4 dan 5 adalah -0.552
Komunitas : 3 dan Komunitas : 0 pada Topik : 1 memiliki tweet positif : 7
Komunitas : 3 dan Komunitas : 0 pada Topik : 1 memiliki tweet positif : 35
Nilai Kontroversial topik 1 antara Komunitas 3 dan 0 adalah -0.667
Komunitas : 3 dan Komunitas : 0 pada Topik : 6 memiliki tweet positif : 8
Komunitas : 3 dan Komunitas : 0 pada Topik : 6 memiliki tweet positif : 35
Nilai Kontroversial topik 6 antara Komunitas 3 dan 0 adalah -0.628
Komunitas : 3 dan Komunitas : 0 pada Topik : 7 memiliki tweet positif : 17
Komunitas : 3 dan Komunitas : 0 pada Topik : 7 memiliki tweet positif : 44
Nilai Kontroversial topik 7 antara Komunitas 3 dan 0 adalah -0.443
Komunitas : 3 dan Komunitas : 0 pada Topik : 4 memiliki tweet positif : 6
Komunitas : 3 dan Komunitas : 0 pada Topik : 4 memiliki tweet positif : 19
Nilai Kontroversial topik 4 antara Komunitas 3 dan 0 adalah -0.520
Komunitas : 3 dan Komunitas : 0 pada Topik : 2 memiliki tweet positif : 18
Komunitas : 3 dan Komunitas : 0 pada Topik : 2 memiliki tweet positif : 39
Nilai Kontroversial topik 2 antara Komunitas 3 dan 0 adalah -0.368
Komunitas : 3 dan Komunitas : 0 pada Topik : 0 memiliki tweet positif : 4
Komunitas : 3 dan Komunitas : 0 pada Topik : 0 memiliki tweet positif : 26
Nilai Kontroversial topik 0 antara Komunitas 3 dan 0 adalah -0.733
Komunitas : 3 dan Komunitas : 0 pada Topik : 5 memiliki tweet positif : 14
Komunitas : 3 dan Komunitas : 0 pada Topik : 5 memiliki tweet positif : 65
Nilai Kontroversial topik 5 antara Komunitas 3 dan 0 adalah -0.646
Komunitas : 3 dan Komunitas : 0 pada Topik : 3 memiliki tweet positif : 13
Komunitas : 3 dan Komunitas : 0 pada Topik : 3 memiliki tweet positif : 34
Nilai Kontroversial topik 3 antara Komunitas 3 dan 0 adalah -0.447
Komunitas : 3 dan Komunitas : 5 pada Topik : 1 memiliki tweet positif : 4
Komunitas : 3 dan Komunitas : 5 pada Topik : 1 memiliki tweet positif : 30
Nilai Kontroversial topik 1 antara Komunitas 3 dan 5 adalah -0.765
Komunitas : 3 dan Komunitas : 5 pada Topik : 6 memiliki tweet positif : 3
Komunitas : 3 dan Komunitas : 5 pada Topik : 6 memiliki tweet positif : 24
Nilai Kontroversial topik 6 antara Komunitas 3 dan 5 adalah -0.778
Komunitas : 3 dan Komunitas : 5 pada Topik : 7 memiliki tweet positif : 13
Komunitas : 3 dan Komunitas : 5 pada Topik : 7 memiliki tweet positif : 43
Nilai Kontroversial topik 7 antara Komunitas 3 dan 5 adalah -0.536
Komunitas : 3 dan Komunitas : 5 pada Topik : 4 memiliki tweet positif : 1
Komunitas : 3 dan Komunitas : 5 pada Topik : 4 memiliki tweet positif : 16
Nilai Kontroversial topik 4 antara Komunitas 3 dan 5 adalah -0.882
Komunitas : 3 dan Komunitas : 5 pada Topik : 2 memiliki tweet positif : 10
Komunitas : 3 dan Komunitas : 5 pada Topik : 2 memiliki tweet positif : 29
Nilai Kontroversial topik 2 antara Komunitas 3 dan 5 adalah -0.487
Komunitas : 3 dan Komunitas : 5 pada Topik : 0 memiliki tweet positif : 2
Komunitas : 3 dan Komunitas : 5 pada Topik : 0 memiliki tweet positif : 22
Nilai Kontroversial topik 0 antara Komunitas 3 dan 5 adalah -0.833
Komunitas : 3 dan Komunitas : 5 pada Topik : 5 memiliki tweet positif : 5
Komunitas : 3 dan Komunitas : 5 pada Topik : 5 memiliki tweet positif : 53
Nilai Kontroversial topik 5 antara Komunitas 3 dan 5 adalah -0.828
Komunitas : 3 dan Komunitas : 5 pada Topik : 3 memiliki tweet positif : 4
Komunitas : 3 dan Komunitas : 5 pada Topik : 3 memiliki tweet positif : 28
Nilai Kontroversial topik 3 antara Komunitas 3 dan 5 adalah -0.750
Komunitas : 0 dan Komunitas : 5 pada Topik : 1 memiliki tweet positif : 3
Komunitas : 0 dan Komunitas : 5 pada Topik : 1 memiliki tweet positif : 5
Nilai Kontroversial topik 1 antara Komunitas 0 dan 5 adalah -0.250
Komunitas : 0 dan Komunitas : 5 pada Topik : 6 memiliki tweet positif : 5
Komunitas : 0 dan Komunitas : 5 pada Topik : 6 memiliki tweet positif : 17
Nilai Kontroversial topik 6 antara Komunitas 0 dan 5 adalah -0.545
Komunitas : 0 dan Komunitas : 5 pada Topik : 7 memiliki tweet positif : 4
Komunitas : 0 dan Komunitas : 5 pada Topik : 7 memiliki tweet positif : 7
Nilai Kontroversial topik 7 antara Komunitas 0 dan 5 adalah -0.273
Komunitas : 0 dan Komunitas : 5 pada Topik : 4 memiliki tweet positif : 5
Komunitas : 0 dan Komunitas : 5 pada Topik : 4 memiliki tweet positif : 3
Nilai Kontroversial topik 4 antara Komunitas 0 dan 5 adalah 0.250
Komunitas : 0 dan Komunitas : 5 pada Topik : 2 memiliki tweet positif : 10
Komunitas : 0 dan Komunitas : 5 pada Topik : 2 memiliki tweet positif : 12
Nilai Kontroversial topik 2 antara Komunitas 0 dan 5 adalah -0.091
Komunitas : 0 dan Komunitas : 5 pada Topik : 0 memiliki tweet positif : 2
Komunitas : 0 dan Komunitas : 5 pada Topik : 0 memiliki tweet positif : 4
Nilai Kontroversial topik 0 antara Komunitas 0 dan 5 adalah -0.333
Komunitas : 0 dan Komunitas : 5 pada Topik : 5 memiliki tweet positif : 11
Komunitas : 0 dan Komunitas : 5 pada Topik : 5 memiliki tweet positif : 16
Nilai Kontroversial topik 5 antara Komunitas 0 dan 5 adalah -0.185
Komunitas : 0 dan Komunitas : 5 pada Topik : 3 memiliki tweet positif : 9
Komunitas : 0 dan Komunitas : 5 pada Topik : 3 memiliki tweet positif : 12
Nilai Kontroversial topik 3 antara Komunitas 0 dan 5 adalah -0.143